<h2 mat-dialog-title>Question - Answer all of them</h2>
<mat-dialog-content class="mat-typography">

  <form>
    <div *ngFor="let question of pagedQuestions">
      <div class="form-group">
        <label>{{ question.text }}</label>
        <div *ngIf="question.type === 'single'">
          <div *ngFor="let option of question.options">
            <mat-radio-button name="{{ question.id }}" value="{{ option }}">{{ option }}</mat-radio-button>
          </div>
        </div>
        <div *ngIf="question.type === 'multiple'">
          <div *ngFor="let option of question.options">
            <mat-checkbox name="{{ question.id }}" value="{{ option }}">{{ option }}</mat-checkbox>
          </div>
        </div>
        <div *ngIf="question.type === 'free-form'">
          <textarea maxlength="130" name="{{ question.id }}"></textarea>
        </div>
      </div>
    </div>
  </form>
  <mat-paginator [length]="totalQuestions" [pageSize]="questionsPerPage"></mat-paginator>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="questions" cdkFocusInitial (click)="submit()">Submit</button>
</mat-dialog-actions>